{% extends "base.html" %}
{% block title %}<title>Admin</title>{% endblock %}
{% block content %}
    <h2>Listagem de Usuários</h2>
    <ul>
        {% for user in users %}
            <li>{{ user[2] }}</li>
        {% endfor %}
    </ul>

    <h2>Listagem de Sensores</h2>
    <ul>
        {% for device in devices %}
            <li>{{ device }}</li>
        {% endfor %}
    </ul>

    <h2>Listagem de Empresas</h2>
    <ul>
        {% for company in companies %}
            <li>{{ company }}</li>
        {% endfor %}
    </ul>
{% endblock %}
