{% extends "company/company_base.html" %}
{% block main %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Página Inicial</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"><a href="/company/{{ company_id }}">Dashboard</a></li>
            <li class="breadcrumb-item active">Payment Dashboad</li>
    </ol>
    <div class="row">
        {% if owner %}
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Realizar Pagamento</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="register_payment">Pagar</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Histórico de Pagamentos</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="view_payments">Vizualizar</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main%}