{% extends "base.html" %}
{% block title %}<title>Companies</title>{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-lg-12">
    <h1 class="page-header">Minhas Empresas</h1>
    </div>
    </div>

    <div class="row">
        <input type="hidden"  id="id" name ="id" value="{{ user_id }}">
        <div class="col-md-6 portfolio-item">
        <h3>
        Dono
        </h3>
        <ul>
            {% if not owned_companies %}
                <li>Nada Registrado</li>
            {% endif %}

            {% for company in owned_companies %}
                <li><a href="company/{{ company.id }}">{{ company.name }}</a></li>
            {% endfor %}
        </ul>
        </div>
        <div class="col-md-6 portfolio-item">
        <h3>
        Empregado
        </h3>
        <ul>
            {% if not employed_companies %}
                <li>Nada Registrado</li>
            {% endif %}

            {% for company in employed_companies %}
                <li><a href="company/{{ company.id }}">{{ company.name }}</a></li>
            {% endfor %}
        </ul>
        </div>
    </div>    
</div>
    

{% endblock %}