{% extends "/auth/auth_index.html" %}
{% import 'company/utils/forms.html' as forms %}

{% block content %}
{% block main %}

<form action="../save_company" class="signin-form" method="POST">
    <div class="card-body">
        <form class="row g-3 justify-content-center" enctype="multipart/form-data" action="../save_company" method="POST">
            <input type="hidden"  id="id" name = "id" value="{{ user_id }}">
            {{ forms.input(label = 'Nome da Empresa', name = 'name', id = 'name', type='text', box_size = 12) }}
            {{ forms.button(label = 'Cadastrar Empresa', box_size = 12) }}
        </form>
    </div>
</form>

{% endblock main %}
{% endblock %}

<!-- ARRUMAR ISSO AQUI!!! -->