{% extends "company/email/email_index.html" %}
{% import 'company/utils/forms.html' as forms %}

{% block main %}
<main class="main">
    
    <div class="container-fluid px-4">
    <h3 class="mt-4">Escrever Email</h3>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/company/{{ company_id }}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/company/{{ company_id }}/email">Email</a></li>
        <li class="breadcrumb-item active">Escrever Email</li>
    </ol>
    <div class="vertical-center">
        <div class="container view">
            <div class="justify-content-center">
                <div class="container-fluid px-4">
                    <div class="row">
                        <div class="vertical-center">
                            <div class="container">
                                <div class="card">
                                    <div class="card-header">
                                    Escrever Email
                                    </div>
                                    <div class="card-body">
                                        <form class="row g-3 justify-content-center" enctype="multipart/form-data" action="save_email" method="POST">
                                            {{ forms.input(label = 'Usuário de Destino', name = 'to_name', id = 'username', type='text', box_size = 6) }}
                                            {{ forms.textarea(label = 'Conteúdo', name = 'content', rows = 1, id = 'content', box_size = 20) }}
                                            {{ forms.button(label = 'Enviar', box_size = 12) }}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}