{% extends "base.html" %}
{% block title %}<title>Cadastrar-se</title>{% endblock %}
{% block content %}

<div cadastrar>
<h2>Cadastrar Usuário</h2>

<form action="/registration/add_user" method="POST">
    <input type="text" name="username" id="username" placeholder="Nome de usuario">
    <input type="text" name="name" id="name" placeholder="Nome">
    <input type="email" name="email" id="email" placeholder="Email">
    <input type="text" name="cpf" id="cpf" placeholder="CPF">
    <input type="text" name="age" id="age" placeholder="Data de Nascimento">
    <input type="password" name="password" id="password" placeholder="Senha">
    <input type="password" name="password2" id="password2" placeholder="Confirmar Senha">

    <button type="submit" name="submit" id="submit">Confirmar</button>
</form>
</div>


{% endblock %}