<!-- home.html -->
{% extends "iot/iot_index.html" %}
{% import 'utils/forms.html' as forms %}
{% block main %}
<main>
    <div class="vertical-center">
        <div class="container view">
            <div class="justify-content-center">
                <div class="container-fluid px-4">
                    <h3 class="mt-4">Atualizar Funcionario</h3>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="/company/">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="/company/workers/">Workers</a></li>
                        <li class="breadcrumb-item active">Atualização de Funcionario</li>
                    </ol>
                    <div class="container-fluid px-4">
                        <div class="row">
                            <div class="vertical-center">
                                <div class="container">
                                    <div class="card">
                                        <div class="card-header">
                                            Atualizar Funcionario
                                        </div>
                                        <div class="card-body">
                                            <form class="row g-3 justify-content-center" enctype="multipart/form-data" action="/company/workers/save_worker_changes" method="POST">
                                                <input type="hidden"  id="id" name = "id" value="{{ worker[0].id }}">
                                                    {{ forms.input(label = 'Nome de Usuário', name = 'username', id = 'username', type='text', box_size = 6) }}
                                                    {{ forms.input(label = 'Função', name = 'function', id = 'function', type='text', box_size = 3) }}
                                                    {{ forms.input(label = 'Setor', name = 'sector', id = 'sector', type='text', box_size = 3) }}
                                                    {{ forms.input(label = 'Horas de Trabalho', name = 'working_hours', id = 'working_hours', type='text', box_size = 2) }}
                                                    {{ forms.input(label = 'Salario', name = 'salary', id = 'salary', type='text', box_size = 2) }}
                                                    {{ forms.button(label = 'Cadastrar Funcionario', box_size = 12) }}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}